@model EtiquetaViewModel

<h2>Etiqueta</h2>
>

<div>
    <h3>Destinatário</h3>
    <p>Nome: @Model.DestinatarioNome</p>
    <p>CEP: @Model.DestinatarioCep</p>
    <p>Número: @Model.DestinatarioNumero</p>
    <p>Complemento: @Model.DestinatarioComplemento</p>
</div>

<div>
    <h3>Remetente</h3>
    <p>Nome: @Model.RemetenteNome</p>
    <p>CEP: @Model.RemetenteCep</p>
    <p>Número: @Model.RemetenteNumero</p>
    <p>Complemento: @Model.RemetenteComplemento</p>
</div>
